{{!< default}}

<main class="site-main">

    {{#page}}
        <article class="single {{post_class}}">

             <header class="single-header gh-canvas">
                 {{#if feature_image}}
                 {{#unless no_image}}
                     <figure class="kg-card kg-image-card kg-width-full">
                         <img class="kg-image" srcset="{{> "srcset"}}" sizes="(min-width: 1023px) 920px, calc(90vw)" src="{{img_url feature_image size="l"}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
                     </figure>
                 {{/unless}}
                 {{/if}}
            </header>

            <div class="single-content gh-content gh-canvas">
                {{content}}
                <hr>

                <div class="post-feed{{#match @custom.feed_layout "!=" "Minimal"}} expanded{{/match}}{{#match @custom.feed_layout "Right thumbnail"}} right-thumbnail{{/match}}{{#match @custom.feed_layout "Text-only"}} text-only{{/match}} gh-feed dc-canvas-3">
                    {{#get "pages" filter="featured:true"}}
                    {{#foreach pages}}
                        {{> "square-page"}}
                    {{/foreach}}
                    {{/get}}
                </div>

                <h2>Our Tools</h2>

                <div class="gh-feed dc-canvas-3">
                    {{#get "pages" filter="tag:tools"}}
                    {{#foreach pages}}
                        {{> "square-page"}}
                    {{/foreach}}
                    {{/get}}
                </div>

                <h2>Our News</h2>

                <div class="gh-feed dc-canvas-3">
                    {{#get "posts"}}
                    {{#foreach posts}}
                        {{> "square-page"}}
                    {{/foreach}}
                    {{/get}}
                </div>
            </div>

            {{#is "post"}}
            <div class="gh-canvas">
                <footer class="single-footer">

                </footer>
            </div>
            {{/is}}

        </article>
    {{/page}}

</main>
